# Ambiente virtual
venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Empacotamento / build
build/
dist/
*.egg-info/

# Arquivos de ambiente
.env

# VSCode / IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp